[project]
	description = some test repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pavan7079savoy
[access "refs/for/refs/*"]
	read = group user/pavan7079savoy
	push = group user/pavan7079savoy
	label-Code-Review = -2..+2 group user/pavan7079savoy
	label-Verified = -1..+1 group user/pavan7079savoy
	rebase = group user/pavan7079savoy
	removeReviewer = group user/pavan7079savoy
	submit = group user/pavan7079savoy
[access "refs/heads/*"]
	read = group user/pavan7079savoy
	create = group user/pavan7079savoy
	push = +force group user/pavan7079savoy
	pushMerge = group user/pavan7079savoy
[access "refs/tags/*"]
	push = group user/pavan7079savoy
	push = +force group user/pavan7079savoy
